* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* БАНЕР */
.banner {
  background: #f2f2f2;
  border-bottom: 2px solid #000;
}

.banner-container {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.banner-logo {
  width: 120px;
  height: 120px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 30px;
}

.banner-text {
  font-size: 22px;
  font-weight: bold;
}

/* КАТАЛОГ */
.catalog {
  width: 1000px;
  margin: 30px auto;
}

/* СІТКА 4 x 5 */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid #000;
}

/* КОМІРКА */
.product {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

/* ЗОБРАЖЕННЯ */
.product img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 8px;
}

/* ТЕКСТ */
.name {
  font-size: 14px;
  margin-bottom: 6px;
}

.price {
  color: red;
  font-weight: bold;
}
